# PyTest workflow

name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.12"]
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install hatch
        run: |
          python -m pip install --upgrade pip
          pip install hatch

      # Tokenizer training tests are significantly slower than others.
      # So that xdist don't assign chunks of training tests to the same worker, we use
      # the `--dist worksteal` distribution mode to dynamically reassign queued tests to
      # free workers.
      - name: Test with pytest via hatch
        run: hatch run test:test --cov=./ --cov-report=xml -n logical --dist worksteal --durations=0 --reruns=3
        env:
          HF_TOKEN_HUB_TESTS: ${{ secrets.HF_TOKEN_HUB_TESTS }}

      - name: Codecov
        uses: codecov/codecov-action@v5.3.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
